.parcel-cache/
build/
target/
pkg/
dist/
examples/web/src/wasm/
examples/web/dist/
examples/web/node_modules/
__pycache__
*.vgm
*.vgz
*.xgm
*.pcm
*.wav
*.bin
!docs/vgm/ym2612.vgm
!public/vgm/ym2612.vgm
!examples/python/vgm/ym2612.vgm
