html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
}

canvas {
    display: block;
    background-color: black;
    border: 4px solid #000;
}

a {
    color:#00a040;
    text-decoration: overline;
}

#link {
    text-align: right;
}
